<!-- <section class="flex justify-center">
    <table class="table-auto bg-amber-400 rounded-xl border-separate border-spacing-2">
        <thead>
            <tr class="text-center text-6xl">
                @for(head of tableHead; track head.id){
                <th class="border border-black bg-black text-white rounded-xl p-2">
                    {{ head.title }}
                </th>
                }
            </tr>
        </thead>

        <tbody>
            @for(item of tableBody; track item.id){
            <tr class="text-center text-5xl border-spacing-8">
                <td class="border border-black bg-cyan-400 rounded-xl p-2">
                    {{ item.name }} {{ item.lastname }}
                </td>
            </tr>
            }
        </tbody>
    </table>
</section> -->
<div class="text-center flex justify-center pb-4" (seeRol)="lookRol($event)">
    <p class="border border-black bg-cyan-400 rounded-xl p-2"> {{ person }} </p>
</div>