<section class="flex flex-col h-screen bg-slate-100">
    <div class="bg-cyan-500 rounded-b-xl">
        <nav class="flex space-x-4 mx-4 my-4 justify-center">
            <button class="rounded-xl bg-yellow-300 text-black font-sans text-2xl p-2" routerLink="/todo">
                To Do List
            </button>
            <button class="rounded-xl bg-yellow-300 text-black font-sans text-2xl p-2" routerLink="/highlights">
                Highlight Text
            </button>
            <button class="rounded-xl bg-yellow-300 text-black font-sans text-2xl p-2" routerLink="/comments">
                Comments
            </button>
        </nav>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</section>