<h1 class="font-sans text-6xl font-black text-center pt-8"> How funtion {{ flow1 }} </h1>
<ul class="text-center pt-4">
    @for(OS of operatingSystem; track OS){
    <li class="text-xl">
        {{ OS }}
    </li>
    }
</ul>

<h1 class="font-sans text-6xl font-black text-center pt-8"> How funtion {{ flow2 }} </h1>
<ul class="text-center pt-4">
    @for(char of "Windows"; track char){
    <li class="text-xl">
        {{ char }}
    </li>
    }
</ul>

<h1 class="font-sans text-6xl font-black text-center pt-8"> How funtion {{ flow3 }} </h1>
<ul class="text-center pt-4">
    @for (entry of myMap; track entry) {
    <li class="text-xl">
        {{ entry[0] }}: {{ entry[1] }}
    </li>
    } @empty {
        <p class="text-xl"> Sorry, we have problems </p>
    }
</ul>

<h1 class="font-sans text-6xl font-black text-center pt-8"> How funtion {{ flow4 }} </h1>
<ul class="text-center pt-4">
    @for(OS of opSys; track OS; let index = $index){
    <li class="text-xl">
        {{ index }} : {{ OS }}
    </li>
    }
</ul>

<h1 class="font-sans text-6xl font-black text-center pt-8"> How funtion {{ flow5 }} </h1>
<ul class="text-center pt-4">
    @for(OS of SO; track OS; let first = $first; let last = $last){
    <li class="text-xl">
        {{ OS }} : {{ first }} : {{ last }}
    </li>
    }
</ul>

<h1 class="font-sans text-6xl font-black text-center pt-8"> How funtion {{ flow6 }} </h1>
<ul class="text-center pt-4">
    @for(OS of operatingSystem; track OS; let odd = $odd; let even = $even){
    <li class="text-xl">
        {{ OS }} : {{ odd }} : {{ even }}
    </li>
    }
</ul>

<h1 class="font-sans text-6xl font-black text-center pt-8"> How funtion {{ flow7 }} </h1>
<ul class="text-center pt-4">
    @for(OS of S_O; track OS; let count = $count){
    <li class="text-xl">
        {{ OS }} : {{ count }}
    </li>
    }
</ul>